<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <style>
    form{background-color:AliceBlue;text-align:center;font-family:verdana;padding:55px;margin:auto;border:10px solid lightgrey:color:blue;}
    </style>
</head>
<body>
<h1 REGISTRATION></h1>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="enter your name"><br>
    <input type="text" name="first_name" placeholder="enter your first name"><br>
    <input type="text" name="last_name" placeholder="enter your last name"><br>
    <input type="email" name="mailid" placeholder="enter your mail id"><br>
    <input type="password" name="password" placeholder="enter your password"><br>
    <input type="password" name="password2" placeholder="confirm your password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}

</body>
</html>